* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
h1 {
  padding: 20px;
  font-size: 9ch;
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.astronaut {
  position: absolute;
  width: 200px;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;

  left: 0;
  right: 0;
  transform: rotate(20deg);
  color: white;
  animation: floating 6s ease-in-out infinite;
}
.funky {
  font-family: "BebasNeueBold";
  color: #00ffff;
  text-shadow: 6px -6px 0 black, 9px -9px yellow;
  transition: 0.5s ease-in-out;
  animation: funky-on-load 1s ease-in-out;
}
.funky:hover {
  color: yellow;
  text-shadow: -6px 6px 0 black, -9px 9px #00ffff;
  transition: 0.5s ease-in-out;
}
#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@keyframes funky-on-load {
  0% {
    color: #00ffff;
    text-shadow: 6px -6px 0 black, 9px -9px yellow;
  }
  50% {
    color: yellow;
    text-shadow: -6px 6px 0 black, -9px 9px #00ffff;
  }
  100% {
    color: #00ffff;
    text-shadow: 6px -6px 0 black, 9px -9px yellow;
  }
}
@keyframes floating {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
